@use '../../../global.scss' as *;

$imageHeight: 65%;

.scenarioLi {
  .imgWrapper {
    position: relative;
    padding-bottom: 56%; /* 200:112 ratio */
    height: 0;
    overflow: hidden;
  }

  .scenarioImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .headerWrapper {
    height: calc(100% - $imageHeight);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 7px;

    h2 {
      margin: 0;
      font-weight: bold;
      font-size: 1rem;
    }
  }
}
