.container {
  padding: 20px;
}

.label {
  display: block;
  font-size: 20px;
  font-weight: 600;
}

.dropdown {
  padding: 10px;
  font-size: 16px;
  color: #333;
  width: 200px;
  height: 40px;
}

.dropdown:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
