.higlightStars {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  img {
    position: absolute;
    width: 42px;
    height: auto;
  }
  img:first-child {
    right: 10%;
    top: -8%;
  }
  img:nth-child(2) {
    top: 30%;
    left: -10%;
  }
  img:last-child {
    bottom: -8%;
    left: 70%;
  }
}
