@use '../../../global' as *;

.playButtonWrapper {
  justify-content: center;
  position: absolute;
  width: 100%;
  display: flex;
  z-index: 1;
  pointer-events: none;

  > * {
    pointer-events: all;
  }
}

.wrapper {
  background-color: $edgewater;
  width: auto;
  padding: 12px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  @include box-shadow(medium);

  @media (min-width: 768px) {
    width: min(90%, 650px);
  }
}
