@use 'sass:color';
@use '../../global' as *;

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 1000px;
  perspective-origin: center center;
  width: 100vw;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.background {
  position: absolute;
  width: 100%;
}

.backdrop {
  @include backdrop;
}

.owlWelcomeWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.ctaWrapper {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%);

  button {
    @include fontBangers;

    &:hover {
      text-decoration: none;
      color: color.scale($primaryColor, $lightness: 15%);
    }
  }
}

.lootItem {
  position: relative;
}

.blurBkgd {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    backdrop-filter: blur(10px);
  }
}

.opacityBkgd {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.content {
  position: relative;
}
