@use '../../global.scss' as *;

.guidance {
  background: linear-gradient(
      128.48deg,
      #ffffff 52.87%,
      rgba(15, 41, 98, 0.3) 166.97%
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  display: flex;
  flex-direction: column;
  flex: 1;

  /* if language is arabic */
  &.rightToLeft {
    align-items: flex-end;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
  grid-row: 2;

  p {
    padding: 0 0.5rem;
  }

  @media (min-width: 450px) {
    flex-direction: row;
    align-items: center;
  }
}

.wrapper,
.header {
  margin: 0 3%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: max-content auto;
  }
}

.backgroundImage {
  display: none;
  width: 95%;
  height: 75%;
  background-repeat: no-repeat;
  background-position: 20% 50%;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='242' height='256' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M71.274 10.05c-34 .307-68.595 21.247-70.991 61.365-2.574 43.184 12.719 57.778 34.194 65.801 21.476 8.024 44.825 3.038 43.091 15.917-2.406 17.911-55.362 50.956-55.362 53.007 0 3.289 44.219-27.743 65.554-43.222 15.787-11.453 27.677-19.337 41.963-41.693 14.286-22.356 18.37-50.64 6.229-78.848-9.325-21.685-32.349-32.616-64.706-32.328' fill='%23508C30'/%3E%3Cpath d='M61.725 49.218c-5.362-.252-22.548-4.884-35.202 1.248C13.869 56.598 7.285 69.896 8.05 86.382c.765 16.485 10.733 41.385 56.36 42.149 45.627.765 55.894-34.48 54.831-49.81-.765-11.108-6.07-24.425-18.752-29.028-11.62-4.222-30.773-.093-38.792-.475' fill='%23E73B1F'/%3E%3Cpath d='M62.76 69.057c-2.658-.112-12.477-1.612-18.752 1.193-6.276 2.805-8.216 8.275-7.843 15.842.373 7.567 5.325 18.899 27.956 19.216 22.632.317 27.686-15.749 27.164-22.785-.382-5.079-2.154-11.546-8.392-13.652-5.754-1.93-16.086.335-20.077.158' fill='%230C8F86'/%3E%3Cpath d='M193.906.004c22.678.214 45.693 14.174 47.343 40.92 1.716 28.804-8.476 38.515-22.8 43.883-14.323 5.367-29.895 2.022-28.739 10.614 1.613 11.947 36.918 33.949 36.918 35.347 0 2.19-29.486-18.498-43.707-28.824-10.528-7.641-18.454-12.888-27.975-27.798a55.115 55.115 0 0 1-4.159-52.578c6.202-14.463 21.55-21.76 43.119-21.564Z' fill='%23EFD000'/%3E%3Cpath d='M161.101 92.858c10.388.093 20.944 6.524 21.681 18.741.783 13.186-3.88 17.631-10.444 20.092-6.565 2.46-13.689.932-13.158 4.864.737 5.47 16.906 15.544 16.906 16.187 0 1.006-13.502-8.471-20.02-13.205-4.821-3.494-8.449-5.899-12.822-12.73a25.218 25.218 0 0 1-1.865-24.08c2.853-6.616 9.875-9.962 19.759-9.869' fill='%23D2D3DE'/%3E%3Cpath d='M201.861 124.431c-18.1.167-36.517 11.313-37.795 32.672-1.37 22.981 7.46 29.448 18.893 33.735 11.432 4.287 23.172 2.907 22.249 9.766-1.287 9.543-29.476 27.1-29.476 28.218 0 1.752 23.546-14.771 34.903-23.009 8.393-6.094 14.734-10.25 22.38-22.197a44.015 44.015 0 0 0 3.32-41.936c-4.97-11.546-17.223-17.371-34.446-17.212' fill='%2300151D'/%3E%3Cpath d='M198.326 142.5c-2.993-.149-12.57-2.721-19.582.69-7.012 3.411-10.724 10.838-10.257 20.017.466 9.179 5.986 23.065 31.406 23.493 25.42.429 31.145-19.197 30.558-27.761-.429-6.197-3.385-13.615-10.435-16.178-6.471-2.348-17.13-.046-21.615-.261' fill='%239D8A40'/%3E%3Cpath d='M199.53 149.611c-1.483-.066-6.957-.932-10.444.661-3.488 1.594-4.588 4.613-4.374 8.807.215 4.193 2.966 10.53 15.554 10.744 12.589.215 15.433-8.778 15.144-12.692-.214-2.796-1.203-6.439-4.662-7.614-3.208-1.071-8.971.187-11.19.094' fill='%23E73B1F'/%3E%3Cpath d='M124.733 162.9c-2.377-.112-10.005-2.172-15.61.549-5.604 2.722-8.541 8.63-8.196 15.936.345 7.306 4.755 18.358 25 18.694 20.245.335 24.786-15.274 24.32-22.096-.336-4.929-2.695-10.838-8.3-12.869-5.156-1.864-13.642-.047-17.214-.214Z' fill='%23EB600A'/%3E%3Cpath d='M125.228 171.697c-1.175-.047-5.53-.709-8.309.531-2.778 1.239-3.655 3.671-3.487 7.008.168 3.336 2.359 8.387 12.393 8.555 10.034.167 12.281-6.99 12.048-10.102-.168-2.255-.933-5.126-3.73-6.058-2.546-.857-7.134.149-8.906.066' fill='%239D8A40'/%3E%3Cpath d='M78.855 176.132c-13.708.131-27.658 8.574-28.628 24.752-1.044 17.408 5.13 23.297 13.783 26.531 8.653 3.234 18.08 1.23 17.382 6.421-.933 7.222-22.324 20.501-22.324 21.377 0 1.324 17.829-11.182 26.436-17.435 6.36-4.613 11.19-7.791 16.934-16.775a33.333 33.333 0 0 0 2.508-31.824c-3.729-8.741-13.055-13.158-26.11-13.047' fill='%236FBDBB'/%3E%3Cpath d='M78.911 194.258c-.932 0-6.201-3.635-10.099-.727-3.898 2.908-1.483 9.319 2.173 13.28 1.706 1.863 6.956 6.094 7.88 6.02.923-.075 5.072-2.423 7.823-5.312 3.88-4.073 6.341-9.45 2.611-13.68-2.378-2.731-9.446.437-10.407.447' fill='%23009FE3'/%3E%3Cpath d='M78.911 194.258c-.932 0-6.201-3.635-10.099-.727-3.898 2.908-1.483 9.319 2.173 13.28 1.706 1.863 6.956 6.094 7.88 6.02.923-.075 5.072-2.423 7.823-5.312 3.88-4.073 6.341-9.45 2.611-13.68-2.378-2.731-9.446.437-10.407.447l.02-.028Z' stroke='%23A9924D' stroke-width='.72'/%3E%3C/svg%3E");

  @media (min-width: 768px) {
    display: block;
  }
}

.article {
  max-width: 768px;

  @media (min-width: 768px) {
    max-width: 30rem;
  }
}
