@import '../../../global.scss';

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  max-width: 14rem;
  @media screen and (max-width: 800px) {
    p,
    strong {
      font-size: 0.5rem;
    }
    max-width: 11rem;
  }
  background-color: #fff;
  pointer-events: auto;
  z-index: 4;

  border-radius: 8px;
  padding: 0.3rem 1rem;
  width: 90vw;
  @include drop-shadow(medium);

  &:before {
    content: '';
    height: 16px;
    width: 16px;
    background: #fff;
    position: absolute;
    border-radius: 4px 0 0 0;
    left: 1.5rem;
    top: 100%;
    transform: translateX(-50%) translateY(-50%) rotate(-135deg);
  }

  strong {
    font-weight: 700;
  }

  .ctaWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0.5rem;

    & > *:not(:last-child) {
      margin-right: 10px;
    }
  }

  &.afterSchool {
    &:before {
      left: unset;
      right: 1.5rem;
      top: 100%;
      transform: translateX(-50%) translateY(-50%) rotate(-135deg);
    }
    @media screen and (min-width: 800px) {
      margin-top: 10vh;
      margin-right: 2rem;
    }
  }
  &.home {
    &:before {
      left: unset;
      right: 0;
      top: 1.5rem;
      transform: translateX(50%) translateY(-50%) rotate(135deg);
    }
    @media screen and (min-width: 800px) {
      margin-bottom: 14vh;
      margin-right: 2rem;
    }
  }
  &.world {
    &:before {
      left: unset;
      top: 0;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
  }
  &.school {
    @media screen and (min-width: 800px) {
      margin-bottom: 28vh;
      margin-left: 10rem;
    }
  }
}
