@import '../../../global.scss';

.blurredUpper {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .paddingTop {
    position: relative;
    height: 100%;
    ul {
      padding-top: 4rem;
    }
  }
}
.blurred {
  position: sticky;
  height: 20vh;
  pointer-events: none;
  background: linear-gradient(to top, white 5vh, transparent);
  width: 140vw;
  padding: 0;
  bottom: 0;
  //If you want the .blurred element to always be blurred, regardless of scrolling, you can remove the pointer-events: none property. This will allow the element to be interacted with normally, but will also prevent the underlying content from being scrolled until the .blurred element is out of the viewport.
}

.animatedStart {
  position: relative;
  top: -100vh;
  opacity: 0;
  animation: slide-up 1s ease-out forwards;

  @keyframes slide-up {
    0% {
      top: 1000px;
      opacity: 0;
    }
    50% {
      top: 500px; /* Move down a bit */
      opacity: 1;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }
}

//regular styling:

.cardList {
  height: 100%;
  overflow: auto;
  overflow-y: overlay;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5% 1.9% 8rem 1.7%;
  gap: 0.4em 0;
  list-style: none;
  position: relative;
  box-sizing: border-box;

  @media screen and (min-width: 767px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: 800px) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media screen and (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: 1300px) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media screen and (min-width: 2300px) {
    grid-template-columns: repeat(8, 1fr);
  }

  li {
    width: 100%;
    box-sizing: border-box;
    width: 75px;
    height: 112.5px;
    margin: 0 auto;

    @media screen and (min-width: 400px) {
      width: 150px;
      height: 225px;
    }

    @media screen and (min-width: 800px) {
      width: 75px;
      height: 112.5px;
    }

    @media screen and (min-width: 900px) {
      width: 150px;
      height: 225px;
    }

    @media screen and (min-width: 1700px) {
      width: 200px;
      height: 300px;
    }

    > article {
      width: 100%;
    }

    .emptyCard {
      height: 100%;
      background-color: #fff;
      border-radius: 5%;
    }
  }
}

.activeListItem {
  border-radius: $cardRadius;
}

.activeCard {
  position: fixed;
  top: 2rem;

  h1 {
    font-size: 1.5rem;
  }

  @media screen and (min-width: 768px) {
    left: calc(50% - 200px);
  }

  &::before {
    content: '';
    @include backdrop;
  }
}

.buttonWrapper {
  margin: 8px 0;
  position: absolute;
  right: 0;
}

.collectionBtns button {
  display: inline-flex;
}

.collectionBtns button + button {
  margin-left: 0.5em;
}

.owlWrapper {
  position: fixed;
  z-index: 11;
  top: 0.5em;
}
