@import '../../../global.scss';

.progressbar {
  display: grid;
  grid-template-columns: auto 0 40px;
  align-items: center;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  @include drop-shadow(medium);

  @media (min-width: 768px) {
    grid-template-columns: auto 0 62px;
  }

  label {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
  }

  .percentage {
    position: absolute;
    left: 8px;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    @include fontBangers;
  }

  progress {
    height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 2px solid $primaryColor;
    border-radius: 4px;
    overflow: hidden;
    clip-path: polygon(98% 0%, 98% 100%, 0% 100%, 0% 0%);
    z-index: 2;
    @include box-shadow(medium);

    @media (min-width: 768px) {
      height: 35px;
    }

    @media (min-width: 890px) {
      clip-path: polygon(98.6% 0%, 98.8% 100%, 0% 100%, 0% 0%);
    }

    //for IE 11
    color: $primaryColor;
    position: relative;
    overflow: hidden;
  }

  //selects progress value, not bar
  progress::-moz-progress-bar {
    box-shadow: -1px 3px 2.5px rgba(0, 0, 0, 0.274);
    background-color: $primaryColor;
    border-radius: 3px;
  }

  progress::-webkit-progress-bar {
    box-shadow: -1px 3px 2.5px rgba(0, 0, 0, 0.274);
    background-color: white;
    border-radius: 3px;
  }

  progress::-webkit-progress-value {
    background-color: $primaryColor;
  }

  .progressAnimation::-webkit-progress-value {
    transition: width 1s;
  }
  .heart {
    position: relative;
    grid-column: 3/3;
    grid-row: 1;
    background-color: #fff;
    z-index: 1;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 2px solid $primaryColor;
    margin-left: -13px;

    @media (min-width: 768px) {
      width: 74px;
      height: 74px;
    }

    @media (min-width: 890px) {
      margin-left: -12px;
    }

    div {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        height: 70%;
        width: 70%;
      }
    }
  }

  .filled {
    background-color: $primaryColor;
  }
}
