@use '../../../global' as *;

.box {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 1rem 1rem;
  width: 225px;
  @include drop-shadow(medium);

  h2 {
    @include fontBangers;
  }

  @media (min-width: 768px) {
    width: 300px;
  }
}
