@import '../../../global.scss';

.wrapper {
  background-color: #efefed;
  display: flex;
  flex-direction: column;
  border: 2px solid $primaryColor;

  img {
    position: absolute;
    top: -50px;
    left: -8px;
    width: 100px;
  }

  .modalClose {
    position: absolute;
    margin: 8px;
    padding: 0;
    top: 0;
    right: 0;
    z-index: 2;
    border: none;
    color: $primaryColor;
  }
}
