.closeButton {
  $heightWidth: 1.8rem;
  width: $heightWidth;
  height: $heightWidth;
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  svg {
    color: black;
  }

  @media (max-width: 600px) {
    height: 45px;
    width: 45px;
  }
}
