@import '../../../global.scss';

.closeButton {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid $primaryColor;
  cursor: pointer;
  display: flex;
  height: 2.5rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(30%, -30%);
  width: 2.5rem;

  svg {
    color: $primaryColor;
    width: 24px;
    height: 24px;
  }
}
