@use '../../../global' as *;

.configWrapper {
  button {
    position: absolute;
    top: $topGutter;
    right: 20px;
    width: 42px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    height: 32px;

    @media (min-width: 768px) {
      height: auto;
      width: 52px;
    }

    span {
      margin: 0;
    }
  }
}

.wrapper {
  background-color: #fff;
  width: 100%;
  padding: 24px;

  .list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    li:not(:last-child) {
      margin-bottom: 12px;
    }

    /* if language is arabic */
    &.rightToLeft {
      li {
        flex-direction: row-reverse;
      }
    }
  }

  .settingHeader {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 10px 0 0;
  }

  .languageSelect {
    &:hover {
      cursor: pointer;
    }
  }
  .paddingApp {
    padding-top: 1rem;
  }
}

.owlWrapper {
  position: absolute;
  top: 10%;
  left: -5%;
}
