@use '../../../global.scss' as *;
@use 'sass:color';

.link {
  @include box-shadow(medium);

  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  border: 2px solid currentColor;
  color: $primaryColor;
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  padding: 0.3rem 0.5rem;
  font-size: 0.75rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  @media (min-width: 600px) {
    padding: 0.1rem 0.4rem;
  }

  &:hover,
  &:active {
    background-color: color.scale($primaryColor, $lightness: 90%);
    text-decoration: none;
  }

  svg {
    width: 21px;
    height: 21px;
  }

  span {
    width: 21px;
    height: 21px;
    display: flex;
    margin-left: 6px;
  }
}
