@import '../../../global.scss';

.wrapper {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 500px) {
    align-items: flex-start;
    flex-direction: row;
  }

  &.small {
    align-items: flex-start;

    @media (min-width: 768px) {
      align-items: center;
    }

    .bodyWrapper {
      max-width: 10rem;
    }

    .dialogue {
      padding: 0.5rem;
      pointer-events: auto;
      width: 8.2rem;

      @media screen and (min-width: 769px) {
        width: max-content;
      }

      strong,
      p {
        margin: 0.4rem 0;
      }
    }

    .image {
      width: 50px;
      height: 106px;

      @media (min-width: 500px) {
        width: 97px;
      }
    }
  }
}

.vertical {
  flex-direction: column-reverse;

  .image {
    margin: 0.5rem 0 0 0;
  }

  .dialogue:before {
    top: auto;
    left: 50%;
    bottom: -0.5rem;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
}

.image {
  z-index: 5;
  margin: 0 0 -0.3rem 1.5rem;
  position: relative;
  height: 120px;
  width: 117px;
  @include drop-shadow(medium);

  @media screen and (min-width: 500px) {
    margin: 0 0.5rem 1rem 0;
    height: 150px;
    width: 147px;
  }
}

.dialogue {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  padding: 0.5rem;
  width: 90vw;
  z-index: 4;
  @include drop-shadow(medium);

  @media screen and (min-width: 500px) {
    max-width: 18rem;
  }

  strong {
    font-weight: 700;
  }

  &:before {
    content: '';
    height: 16px;
    width: 16px;
    background: #fff;
    position: absolute;
    border-radius: 4px 0 0 0;
    left: 2rem;
    top: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);

    @media screen and (min-width: 500px) {
      left: 0;
      top: 2rem;
      transform: translateX(-50%) translateY(-150%) rotate(-45deg);
    }
  }
}

.dialogueWithItem {
  @extend .dialogue;

  display: flex;
  justify-content: space-between;
  max-width: 18rem;
}

.bodyWrapper {
  position: relative;
}

.ctaWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  & > *:not(:last-child) {
    margin-right: 10px;
  }
}
